node_modules/
__pycache__/
*.db
.env
.ipynb_checkpoints
.DS_Store
.expo/
android/
ios/
dist/
build/
*.log
docs/*.log
figures/*.png
ml_models/*.pkl
ml_models/Relief_Efficacy_Models/*.pkl
# Keep samples but ignore large data
datasets_sample/DATA_RAW/
datasets_sample/ONBOARDING_DATA_PROCESSED/
datasets_sample/DIET_DATA_PROCESSED/
